<div class="page-header">
  <h1>Облагораживания</h1>
</div>
<%= render 'elevations_grid' %>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_elevation_path,
            :class => 'btn btn-primary' %>
<button class="wg-external-csv-export-button btn btn-primary" data-grid-name="elevations">Export To CSV</button>
