<div class="page-header">
  <h1>Отчеты</h1>
</div>

<%= render 'results_grid' %>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_result_path,
            :class => 'btn btn-primary' %>

<button class="wg-external-csv-export-button btn btn-primary" data-grid-name="results">Экспорт в CSV</button>

