<div class="row">
  <div class="col-xs-12" >
    <%= orders_by_client @order_data %>
  </div>
</div>

<div class="row">
  <div class="col-xs-12" >
    <%= flowers_by_garden_bed @flower_data %>
  </div>
</div>

<div class="row">
  <div class="col-xs-12" >
    <%= flowers_by_culture @flower_data %>
  </div>
</div>


<div class="row">
  <div class="col-xs-12" >
    <%= orders_by_cultures @order_data %>
  </div>
</div>