<div class="page-header">
  <h1>Заказы</h1>
</div>

<%= render 'orders_grid' %>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_order_path,
            :class => 'btn btn-primary' %>

<button class="wg-external-csv-export-button btn btn-primary" data-grid-name="orders">Экспорт в CSV</button>
