<div class="page-header">
  <h1>Грядки</h1>
</div>

<%= render 'garden_beds_grid' %>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_garden_bed_path,
            :class => 'btn btn-primary' %>

<button class="wg-external-csv-export-button btn btn-primary" data-grid-name="garden_beds">Экспорт в CSV</button>

